body {
  color: white;
  font-family: 'Raleway';
  padding: 20px;
  background: #111;
}

a:link { color: lime; }
a:visited { color: green; }

/* p {
  margin: 0px;
  padding: 0px;
} */

pre {
  border-radius: 5px;
  border-top-color: #333;
  border-top-style: solid;
  border-bottom-color: #333;
  border-bottom-style: solid;
  color: #C44;
  background: #222;
  font-family: Consolas;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  padding: 10px;
  tab-width: 2;
}

code {
  font-size: 0.9rem;
  color: #C44;
  background: #222;
  font-family: Consolas;
  padding-left: 4px;
  padding-right: 4px;
}

blockquote {
  border-radius: 5px;
  border-left-color: #333;
  border-left-style: solid;
  border-right-color: #333;
  border-right-style: solid;
  color: #AAA;
  background: #222;
  font-family: Consolas;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  padding: 10px;
}

th, td {
  width: 5%;
  border: 1px solid #222;
  padding: 4px;
}

.nosel {
  user-select: none;
}

.tag {
  color: #88F;
  font-weight: bold;
  background-color: #228;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.tagcard {
  color: #88F;
  font-weight: bold;
  background-color: #228;
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px;
  border-radius: 5px;
}

.tagmini {
  background-color: #111;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-alighn: center;
  float: left;
  width: 100%;
}

.fBtn {
  display: none;
  position: fixed; bottom: 20px; left: 20px;
  z-index: 9;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #111;
  color: lime;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px 0px #666;
}


/* page */
.page {
  border-top-color: #333;
  border-top-style: solid;
  border-right-color: #333;
  border-right-style: solid;
  border-left-color: #333;
  border-left-style: solid;
  border-radius: 10px;

  background: #111;
  padding: 20px;
  width: 1100px;
  height: 100%;
  margin: auto;
}

/* header */
.header {
  font-family: 'Pathway Gothic One';
  font-weight: bold;
  background: #111;
  padding: 10px;
  font-size: 2.5em;
  text-align: left;
  line-height: 50px;
}

/* navbar */
.navbar {
  font-family: 'Raleway";
  float: none;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  top: 50%;
  float: left;
  font-weight: bold;
  display: inline-block;
  margin-right: 1.5em;
  font-size: 1.0em;
}

.navbar li a:link {
  color: lime;
}
.navbar li a:hover {
  color: #888;
}

/* two unequal columns that float next to each other */

  /* left column */
  .leftcolumn {
    float: right;
    width: 73%;
  }

  /* right column */
  .rightcolumn {
    float:right;
    width:25%;
    padding-left: 20px;
  }

/* images */
.image {
  background-color: #fff;
  width: 95%;
  padding: 20px;
}

/* card effect */
.card {
  border-top-color: #333;
  border-top-style: solid;
  border-radius: 10px;
  background-color: #111;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.minicard {
  background-color: #111;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-alighn: center;
  float: left;
  width: 100%;
}

/* remove formatting after cards */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* footer */
.footer {
  padding: 20px;
  background-color: #111;
  text-align: center;
  margin-top: 20px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .page { width: 90%; }
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0px;
  }
/*  .card {
    text-align: center;
  } */
}
