body {
  color: white;
  font-family: 'Raleway';
  padding: 20px;
  background: black;
}

a:link { color: lime; }
a:visited { color: orange; }

pre {
  color: #C44;
  background: #111;
  font-family: Consolas;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  padding: 10px;
  tab-width: 2;
}

code {
  font-size: 0.9rem;
  color: #C44;
  font-family: Consolas;
  padding-left: 4px;
  padding-right: 4px;
}

blockquote {
  color: #AAA;
  background: #111;
  font-family: Consolas;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  padding: 10px;
  padding-bottom: 25px;
}

.tag {
  color: #88F;
  font-weight: bold;
  background-color: #228;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.page {
  background: #000;
  padding: 20px;
  width: 1100px;
  height: 100%;
  margin: auto;
}

.fBtn {
  display: none;
  position: fixed; bottom: 20px; left: 20px;
  z-index: 9;
  font-size: 20px;
  border: none;
  outline: none;
  background-color: #111;
  color: lime;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px 0px #666;
}

.header {
  font-family: 'Pathway Gothic One';
  background: #000;
  margin: auto;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

.leftcolumn {
  float: left;
  width: 20%;
}

.rightcolumn {
  float: left;
  width: 77%;
  padding-left: 20px;
}

.card {
  background-color: #222;
  padding: 10px;
  margin-top: 20px;
  overflow: hidden;
}

.minicard {
  font-size: 0.8rem;
  background-color: #111;
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}

.image {
  background-color: #333;
  padding: 10px;
  max-width: 827px;
}

.content {
  background-color: #333;
  padding: 20px;
  margin-top: 20px;
  overflow: hidden;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: black;
  margin-top: 20px;
}

@media screen and (max-width: 1200px) {
  .page { width: 100%; }
  .leftcolumn, .rightcolumn { width: 100%; padding: 0px; }
  .content { text-align: center; }
  .image { max-width: 2500px; }
}
